# extends 'base.html'
# block content
    <div class="page-header">
      <h1>{{title}}</h1>
       <a href="{{song_db.audioUrl}}">play</a>
    </div>

    <iframe src="{{song_db.audioUrl}}" height="1" width="1"></iframe>
<!--
    <div id="musicBind">
       <audio loop=1 >
           # if song_db.audioUrl != ''
           <source src="{{song_db.audioUrl}}" type="audio/mpeg">
           # elif song_db.audioId != ''    
           <source src="/ffrog/p/audio/{{song_db.audioId}}.mp3" type="audio/mpeg">
           # endif
           Your browser does not support the audio element.
       </audio>
    </div>
-->
    <div id="lyrics">
		<p>{{song_db.lyrics}}</p>
    </div>
  
    # if song_db.youtubeId != ''
    <div id="player"></div>

    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{song_db.youtubeId}}',
          //playerVars: {autoplay:1,loop:1,controls:0,volume:1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.setVolume(5);
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(startMusic, 15000);
          //done = true;
        }
      }
      function startMusic() {
        //player.stopVideo();
        /*
        var musicBind = document.getElementById('musicBind');
        var audios = musicBind.getElementsByTagName('audio');
		var divArray = [];
		for (var i = 0; i < audios.length; i += 1) {
			  audios[i].play();
		}
		*/
      }
    </script>
    # endif
    
    # if song_db.youtubeId == ''
    <script>
        var musicBind = document.getElementById('musicBind');
        if (musicBind) {
        	var audios = musicBind.getElementsByTagName('audio');
			var divArray = [];
			for (var i = 0; i < audios.length; i += 1) {
			  audios[i].play();
			}
		}
    </script>
    # endif


# endblock


